<div>
    <p class="display-2 heading">Welcome to Survey Portal</p>
</div>
<div class="container paraText">
    <!-- <p>Survey Portal is unique product developed by SP Infotech using which any company can
        conduct the survey for anything weather it is product , service or any topic.<br> Survey portal is easy to use
        application which helps any organization to conduct survey using a database
        hosted by SP Infotech. It supports unlimited number of users and companies who can participate in the
        process of survey. Survey portal is customizable and extendable as per the requirement of the client.</p>  -->
    <p>Ask one person for feedback, and it's hard to know whether they represent the majority or minority. Ask a
        hundred, though, and you'll start to see a clearer picture and distinct trends.<br><br>
        Today, it's easier than ever to create and distribute a survey that collects exactly the information you
        need to
        make confideyesnt choices. Whether you're designing a new product, improving your site, or just wondering
        whether people prefer literal apples or oranges.<br>
        If you're thinking about survey-building, you are in the right spot.<br><br>
        Survey Portal App provide a easy way to host your own surveys and collect responces all arroud the
        world.<br><br> So, what are waiting for explore the world of surveys with us now.
    </p>
    <br><br>
    <p align="center">**Use the navigation bar up top for using this app**</p>
</div>